.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/.snakemake/*
/scripts/.snakemake/*
scripts/slurm*
/starAligned/*
/trimmedQC/*
/trimmedReads/*
rawQC/*
results_AM/*
rObjects/*
scripts/shiny/rsconnect/*
dirty_mouse_AM.Rproj
.DS_Store